{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>

</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!--------BANNER----->
{% block banner %}
<div><img src="{% static 'img/headers/header_lepel.jpg' %}" alt="Header Lepel"></div> 
{% endblock %}
<!-----//---BANNER--->
<!----------SECTION10----->
<!--leeg format-->
{% block section10 %}
<div class="row">
    <div class="col-12"> 
        <div class ="pand_Htitel"> Paardenstal </div>
        <a href="/panden/brouwersgr.html" class="vorigeP">&#8882;</a>
        <a href="/panden/prinsegr.html" class="volgendeP">&#8883;</a>
    </div>
</div>
<!---->
<div class="row">
    <div class ="pand_tekst">
        Weinig Hagenaars zullen dit smalle straatje kennen dat de Boekhorststraat en de Lange Beestenmarkt met elkaar verbindt. 
        Wanneer je er doorheen loopt oogt het misschien niet heel bijzonder, maar achter de verschillende gevels wachten talloze verrassingen, 
        zoals de paardenstal die tot 2021 in gebruik was. De eigenaar ging met zijn paarden rijden in &lsquo;de grootste zandbak&rsquo; die er was, namelijk op het strand. 
        De stallen op het terrein in de Lepelstraat zijn in 2024 verbouwd tot drie moderne en duurzame ateliers. Deze invulling sluit goed aan bij het Makerskwartier 
        dat de gemeente rondom de Boekhorststraat heeft gecreëerd.
    </div>
</div>
<!---->
<div class="row">
    <div class="col-12"> 
        <div class ="pand_Htitel"> Een impressie</div>
    </div>
</div>
<!---->
<div class="row">
    <div class="col-4 pand-container">   
       <img src="{% static 'img/panden/pand_lepel1.jpg' %}" alt=""> 
    </div>
    <div class="col-4 pand-container">   
        <img src="{% static 'img/panden/pand_lepel2.jpg' %}" alt=""> 
     </div>
     <div class="col-4 pand-container">   
        <img src="{% static 'img/panden/pand_lepel3.jpg' %}" alt=""> 
     </div>
</div>
<!---->
<div class="row pand_adres">
    <div class="col-6">     
        <ol> <strong> Adres </strong></ol>
        <ol> Lepelstraat 9</ol>
        <ol> 2512 CW Den Haag</ol>
        <ol> <a href = "/panden/panden.html"> Terug naar alle panden</a> </ol>  
    </div>
    <div class="col-6">  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.4121803236535!2d4.307613876163773!3d52.072226169285415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b727063706bb%3A0x5cd0aad29a061118!2sLepelstraat%209%2C%202512%20CW%20Den%20Haag!5e0!3m2!1snl!2snl!4v1718698284705!5m2!1snl!2snl" 
        style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!---->
{% endblock %}
<!-----//---SECTION----->   