{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>

</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!--------BANNER----->
{% block banner %}
    <div>    
        <img src="{% static 'img/headers/header_bkbuiten.jpg' %}" alt="header-home">  
    </div> 
{% endblock %}
<!-----//---BANNER--->

<!--------BANNER TXT------->
{% block banner_txt %} <em>Achter elke gevel gaat een verhaal schuil en die verhalen zijn de moeite van het
    vertellen waard. </em>{% endblock %}  
<!--------// BANNER TXT----->

<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Panden</div>
    <div class = "headerveld">
    In de jaren negentig redt Stichting Behoud Waardevol Erfgoed meerdere panden van sloop. 
    Enkele daarvan zijn nog steeds in beheer van de stichting zoals de 
    pakhuizen in de Looijerstraat en de Rembrandtstraat. Ook de Barthkapel moest van de gemeente uit het straatbeeld verdwijnen, maar zal 
    hoogstwaarschijnlijk in 2026 op de monumentenlijst komen te staan.
    </div> 
</div>
{% endblock %}
<!----// -HEADER----->

<!----------SECTION10----->
<!--leeg format-->
{% block section10 %}
<!---->
<div class="row">
    <div class="col-4 pand-container">  
            <a href = "/panden/rembrandt.html"> <img src="{% static 'img/panden/pand_rem.jpg' %}" alt="Pakhuis Rembrandt"> </a>
            <div class ="font-20B TxtCenter"> <a href = "/panden/rembrandt.html"> Pakhuis Rembrandt </div>
            <div class ="font-9 TxtCenter">
                <p> <a href = "/panden/rembrandt.html"> Rembrandtstraat 2B </a> </p>
                <p> <a href = "/panden/rembrandt.html">  2526 PZ Den Haag </a></p>
                <a href = "/panden/rembrandt.html"> Bekijk deze locatie </a>
            </div>
    </div>

    <div class="col-4 pand-container">  
        <a href="/panden/looijerstr.html"> <img src="{% static 'img/panden/pand_looij.jpg' %}" alt="Pakhuis Looijer"></a>
        <div class ="font-20B TxtCenter"><a href="/panden/looijerstr.html"> Pakhuis Looijer </a> </div>
        <div class ="font-9 TxtCenter">
            <p> <a href="/panden/looijerstr.html"> Looijerstraat 70</a></p>
            <p> <a href="/panden/looijerstr.html"> 2512 DX Den Haag </a> </p>
            <a href="/panden/looijerstr.html"> Bekijk deze locatie </a>
        </div>
    </div>

    <div class="col-4 pand-container">  
        <a href="/panden/brouwersgr.html"><img src="{% static 'img/panden/pand_barth.jpg' %}" alt="Barthkapel"> </a>
        <div class ="font-20B TxtCenter"><a href = "/panden/brouwersgr.html">  <p> Barthkapel</p> </a></div>
        <div class ="font-9 TxtCenter">
            <p> <a href = "/panden/brouwersgr.html"> Brouwersgracht 2K</a></p>
            <p> <a href="/panden/brouwersgr.html"> 2512 ER Den Haag </a></p>
            <a href="/panden/brouwersgr.html">  Bekijk deze locatie  </a>
        </div>
    </div>
</div>
<!---->
<div class="row">
    <div class="col-4 pand-container">  
        <a href="/panden/lepelstr.html"><img src="{% static 'img/panden/pand_lepel.jpg' %}" alt="Paardenstal"> </a>
        <div class ="font-20B TxtCenter">    <a href="/panden/lepelstr.html">  Paardenstal </a> </div>
        <div class ="font-9 TxtCenter">
            <p>    <a href="/panden/lepelstr.html">   Lepelstraat 9 </a> </p>
            <p>    <a href="/panden/lepelstr.html">  2512 CW Den Haag</a> </p>
            <a href="/panden/lepelstr.html">  Bekijk deze locatie </a> 
        </div>
    </div>

    <div class="col-4 pand-container">  
        <a href="/panden/prinsegr.html"><img src="{% static 'img/panden/pand_prins.jpg' %}" alt="Prinsegracht"> </a>
        <div class ="font-20B TxtCenter"> <p> Prinsegracht 40</p></div>
        <div class ="font-9 TxtCenter">
            <p> Prinsegracht 40</p>
            <p> 2512 GA Den Haag</p>
            <a href="/panden/prinsegr.html"> Bekijk deze locatie  </a>
        </div>
    </div>

    <div class="col-4 pand-container">  
        <a href="/panden/tuinhuis.html"><img src="{% static 'img/panden/pand_tuinh.jpg' %}" alt="Tuinhuis"> </a>
        <div class ="font-20B TxtCenter"> <p>  Tuinhuis</p></div>
        <div class ="font-9 TxtCenter">
            <p> Brouwersgracht 2P</p>
            <p> 2512 ER Den Haag</p>
            <a href="/panden/tuinhuis.html"> Bekijk deze locatie </a>
        </div>
    </div>
</div>
<!---->
{% endblock %}
<!-----//---SECTION----->   