{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>

</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!--------BANNER----->
{% block banner %}
    <div>    
        <img src="{% static 'img/headers/header_bkbuiten.jpg' %}" alt="header-home">  
    </div> 
{% endblock %}
<!-----//---BANNER--->

<!--------BANNER TXT------->
{% block banner_txt %} <em>Achter elke gevel gaat een verhaal schuil en die verhalen zijn de moeite van het
    vertellen waard. </em>{% endblock %}  
<!--------// BANNER TXT----->

<!-----HEADER-------->
{% block header %}
<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter"> Gevels </div>
    </div>
</div>
{% endblock %}
<!----// -HEADER----->

<!----------SECTION10----->
<!--leeg format-->
{% block section10 %}
<!---->
<div class="row">
    <div class="col-4 pand-container">  
            <a href = "/panden/rembrandt.html"> <img src="{% static 'img/panden/pand_rem.jpg' %}" alt="Pakhuis Rembrandt"> </a>
            <div class ="font-20B TxtCenter"> <p> Pakhuis Rembrandt </p></div>
            <div class ="font-9 TxtCenter">
                <p> Rembrandtstraat 2B</p>
                <p> 2526 PZ Den Haag </p>
                <a href = "/panden/rembrandt.html"> Bekijk deze locatie </a>
            </div>
    </div>

    <div class="col-4 pand-container">  
        <a href="/panden/looijerstr.html"> <img src="{% static 'img/panden/pand_looij.jpg' %}" alt="Pakhuis Looijer"></a>
        <div class ="font-20B TxtCenter"> <p> Pakhuis Looijer</p></div>
        <div class ="font-9 TxtCenter">
            <p> Looijerstraat 70</p>
            <p> 2512 DX Den Haag </p>
            <a href="/panden/looijerstr.html"> Bekijk deze locatie </a>
        </div>
    </div>

    <div class="col-4 pand-container">  
        <a href="/panden/brouwersgr.html"><img src="{% static 'img/panden/pand_barth.jpg' %}" alt="Barthkapel"> </a>
        <div class ="font-20B TxtCenter"> <p> Barthkapel</p></div>
        <div class ="font-9 TxtCenter">
            <p> Brouwersgracht 2K</p>
            <p> 2512 ER Den Haag </p>
            <a href="/panden/brouwersgr.html">  Bekijk deze locatie  </a>
        </div>
    </div>
</div>
<!---->
<div class="row">
    <div class="col-4 pand-container">  
        <a href="/panden/lepelstr.html"><img src="{% static 'img/panden/pand_lepel.jpg' %}" alt="Paardenstal"> </a>
        <div class ="font-20B TxtCenter"> <p> Paardenstal</p></div>
        <div class ="font-9 TxtCenter">
            <p> Lepelstraat 9</p>
            <p> 2512 CW Den Haag</p>
            <a href="/panden/lepelstr.html">  Bekijk deze locatie </a> 
        </div>
    </div>

    <div class="col-4 pand-container">  
        <a href="/panden/prinsegr.html"><img src="{% static 'img/panden/pand_prins.jpg' %}" alt="Prinsegracht"> </a>
        <div class ="font-20B TxtCenter"> <p> Prinsegracht 40</p></div>
        <div class ="font-9 TxtCenter">
            <p> Prinsegracht 40</p>
            <p> 2512 GA Den Haag</p>
            <a href="/panden/prinsegr.html"> Bekijk deze locatie  </a>
        </div>
    </div>

    <div class="col-4 pand-container">  
        <a href="/panden/tuinhuis.html"><img src="{% static 'img/panden/pand_tuinh.jpg' %}" alt="Tuinhuis"> </a>
        <div class ="font-20B TxtCenter"> <p>  Tuinhuis</p></div>
        <div class ="font-9 TxtCenter">
            <p> Brouwersgracht 2P</p>
            <p> 2512 ER Den Haag</p>
            <a href="/panden/tuinhuis.html"> Bekijk deze locatie </a>
        </div>
    </div>
</div>
<!---->
{% endblock %}
<!-----//---SECTION----->   