{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>

</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!--------BANNER----->
{% block banner %}
    <div>    
        <img src="{% static 'img/headers/bkbuiten.jpg' %}" alt="header-home">  
    </div> 
{% endblock %}
<!-----//---BANNER--->

<!--------BANNER TXT------->
{% block banner_txt %} <em>Achter elke gevel gaat een verhaal schuil en die verhalen zijn de moeite van het
    vertellen waard. </em>{% endblock %}  
<!--------// BANNER TXT----->

<!-----HEADER-------->
{% block header %}
<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter"> Gevels </div>
    </div>
</div>
{% endblock %}
<!----// -HEADER----->

<!----------SECTION10----->
<!--leeg format-->
{% block section10 %}
<!---->
<div class="row">
    <div class="col-4 pand-container">  
            <a href = "/panden/rembrandt.html"> <img src="{% static 'img/panden/pand_rem.jpg' %}" alt="Pakhuis Rembrandt"> </a>
            <ol class="font-20B TxtCenter"> Pakhuis Rembrandt</ol>
            <ol class="font-9 TxtCenter">  Rembrandtstraat 2B</ol>
            <ol class="font-9 TxtCenter">  2526 PZ Den Haag</ol>
            <ol class="font-8 TxtCenter color">  <a href = "/panden/rembrandt.html"> Bekijk deze locatie </a> </ol>
            <ol class="font-8 TxtCenter"> <br> </ol>
    </div>

    <div class="col-4 pand-container">  
            <a href="/panden/looijerstr.html"><img src="{% static 'img/panden/pand_looijer.jpg' %}" alt="Pakhuis Looijer"> </a>
            <ol class="font-20B TxtCenter"> Pakhuis Looijer</ol>
            <ol class = "font-9 TxtCenter">  Looijerstraat 70</ol>
            <ol class = "font-9 TxtCenter">  2512 DX Den Haag</ol>
            <ol class="font-8 TxtCenter color">   <a href="/panden/looijerstr.html"> Bekijk deze locatie </a> </ol>
            <ol class ="font-8 TxtCenter"> <br> </ol>
    </div>

    <div class="col-4 pand-container">  
            <a href="/panden/brouwersgr.html"><img src="{% static 'img/panden/pand_barth.jpg' %}" alt="Barthkapel"> </a>
            <ol class="font-20B TxtCenter"> Barthkapel</ol>
            <ol class="font-9 TxtCenter"> Brouwersgracht 2K</ol>
            <ol class="font-9 TxtCenter"> 2512 ER Den Haag</ol>
            <ol class="font-8 TxtCenter color">   <a href="/panden/brouwersgr.html">  Bekijk deze locatie  </a> </ol>
            <ol class="font-8 TxtCenter"> <br> </ol>
    </div>
</div>
<!---->
<div class="row">
    <div class="col-4 pand-container">  
             <a href="/panden/lepelstr.html"><img src="{% static 'img/panden/pand_lepel.jpg' %}" alt="Paardenstal"> </a>
            <ol class="font-20B TxtCenter"> Paardenstal</ol>
            <ol class="font-9 TxtCenter"> Lepelstraat 9</ol>
            <ol class="font-9 TxtCenter"> 2512 CW Den Haag</ol>
            <ol class="font-8 TxtCenter color">  <a href="/panden/lepelstr.html">  Bekijk deze locatie </a> </ol>
            <ol class="font-8 TxtCenter"> <br> </ol>   
    </div>

    <div class="col-4 pand-container">
            <a href="/panden/prinsegr.html"><img src="{% static 'img/panden/pand_prins.jpg' %}" alt="Prinsegracht"> </a>
            <ol class="font-20B TxtCenter"> Prinsegracht 40</ol>
            <ol class="font-9 TxtCenter"> Prinsegracht 40</ol>
            <ol class="font-9 TxtCenter"> 2512 GA Den Haag</ol>
            <ol class="font-8 TxtCenter color">  <a href="/panden/prinsegr.html"> Bekijk deze locatie  </a> </ol>
            <ol class="font-8 TxtCenter"> <br> </ol>
    </div>

    <div class="col-4 pand-container">   
            <a href="/panden/tuinhuis.html"><img src="{% static 'img/panden/pand_tuinh.jpg' %}" alt="Tuinhuis"> </a>
            <ol class="font-20B TxtCenter"> Tuinhuis</ol>
            <ol class="font-9 TxtCenter"> Brouwersgracht 2P.</ol>
            <ol class="font-9 TxtCenter"> 2512 ER Den Haag</ol>
            <ol class="font-8    TxtCenter color">  <a href="/panden/tuinhuis.html"> Bekijk deze locatie </a> </ol>
    </div>
</div>
<!---->
{% endblock %}
<!-----//---SECTION----->   