{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEADER----->
{% block styles %}
<style>


</style>
{% endblock %}
<!--------HEADER----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div>   <img src="{% static 'img/headers/header_bkverhuur.jpg'  %}" alt="header_bkverhuur"> </div> 
{% endblock %}
<!-----//---BANNER--->


<!--------HEADER----->
{% block header %}
<div class="row">
    <p class="font-20B TxtCenter"> Barthkapel verhuur </p>
    <div class = "headerveld" >
        Stichting Behoud Waardevol Erfgoed verhuurt een authentieke kapel in het centrum van de stad. De Barthkapel is te huur voor: concerten, optredens, yogalessen, exposities, balletlessen, lezingen, kerkdiensten, workshops, vergaderingen, recepties, boekpresentaties, etc.
        Huurders die op regelmatige basis (bijv. een ochtend in de week) willen huren, zijn ook van harte welkom. Versterkte muziek is niet toegestaan.
    </div>
</div>
<!---->
<div class="row">
    <div class="col-4 bk-container">  
        <a> <img src="{% static 'img/paginas/bk_verhuur1.jpg' %}" alt="deurzijde"> </a>
        <ol class="font-20B TxtCenter"> Tarief</ol>
        <ol>  40,00 per uur, </ol>
        <ol>  Korting voor studenten van het Koninklijk Conservatorium / KABK </ol>
        <ol>  <a href="/cc/voorwaarden.html"> <em> voorwaarden & annulering </em> </a> </ol>
    </div>

    <div class="col-4 bk-container">  
        <a><img src="{% static 'img/paginas/bk_verhuur2.jpg' %}" alt="verlicht"> </a>
        <ol class="font-20B TxtCenter"> Meer informatie </ol>
        <ol> <a href = "/cc/ccinrichting.html"> <em> Info & Plattegrond </em> </a> </ol>
        <ol> <a href = "/cc/impressieBK.html"> <em> Geluidsfragement </em>  </a> <br> </ol>
        <ol> <a href = "/formulier/programma.html"> <em> Programma </em> </a> </ol>
    </div>

    <div class="col-4 bk-container"> 
        <a href="/panden/barthkapel.html"><img src="{% static 'img/paginas/bk_verhuur3.jpg' %}" alt="podiumzijde"> </a>
        <ol class="font-20B TxtCenter"> Email</ol>
        <ol><a style="color: #033a49e1;" href = "mailto:stichtingbwe@gmail.com?subject=Barthkapel Verhuur&body=">  stichtingbwe@gmail.com </a>  </ol>
        <ol>  <a style = "color: inherit;" href = "/formulier/reservering.html"> <em> Aanvraagformulier </em> </a></ol>
        <ol>  Reserveringen voor de Barthkapel graag via het aanvraagformulier </ol>
    </div>
</div>
<!---->
{% endblock header %}
<!-----//---HEADER--->

<!-----SECTION1-------->
{% block section1 %}
<div class="row">
    <div class="col-4 bk-container">  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4904.6590711466215!2d4.30361597616389!3d52.073730769174716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7289a466b29%3A0x2e27e5a1e2e473ea!2sBrouwersgracht%202K%2C%202512%20ER%20Den%20Haag!5e0!3m2!1snl!2snl!4v1719780287797!5m2!1snl!2snl" 
         loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="col-4 bk-container">  
        <ol class="font-20B TxtCenter"> Barthkapel</ol>
        <ol> Brouwersgracht 2K</ol>
        <ol> 2512 ER Den Haag </ol>   
        <ol> Kapel is bereikbaar vanaf de Brouwersgracht via de smalle steeg. </ol>
        <ol> Deze leidt u naar de kloostertuin en de kapel.</ol>
    </div>

    <div class="col-4">  
        <iframe src="https://www.google.com/maps/embed?pb=!4v1715773275253!6m8!1m7!1srRdZ4SnXUjJhk1rnW1Df2g!2m2!1d52.07367815163905!2d4.305508846694697!3f116.99734054729066!4f2.400498634234708!5f0.7820865974627469" 
        allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}
<!----// -SECTION----->