{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEADER----->
{% block styles %}
<style>
</style>
{% endblock %}
<!--------HEADER----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div>   <img src="{% static 'img/headers/header_bkverhuur.jpg'  %}" alt="header_bkverhuur"> </div> 
{% endblock %}
<!-----//---BANNER--->


<!--------HEADER----->
{% block header %}
<div class="row">
    <div class="font-20B headertitel"> Barthkapel verhuur </div>
    <div class = "headerveld" >
    Concerten, (muziek)opnames, yoga, lezingen en workshops, 
    Stichting Behoud Waardevol Erfgoed verhuurt voor verschillende doeleinde een authentieke kapel in het centrum van Den Haag.
    </div>
</div>
<!---->
<div class="row">
    <div class="col-4 bk-container">  
        <a> <img src="{% static 'img/paginas/bk_verhuur1.jpg' %}" alt="deurzijde"> </a>
        <div  class="font-20B TxtCenter"> Tarief</div>
        
        <div class = "font-10"> €40,00 per uur </div>
        <div class=" font-9">Korting voor studenten van het Koninklijk Conservatorium / KABK </div>
        <div>  <a href="/cc/voorwaarden.html"> <em> Voorwaarden & Annulering </em> </a> </div>
    </div>

    <div class="col-4 bk-container">  
        <a><img src="{% static 'img/paginas/bk_verhuur2.jpg' %}" alt="verlicht"> </a>
        <div class = "font-20B TxtCenter"> <a href = "/cc/ccinrichting.html">Meer informatie  </a> </div>
        <div> <a href = "/cc/ccinrichting.html"> <em> Info & Plattegrond </em> </a> </div>
        <div> <a href = "/cc/impressieBK.html"> <em> Geluidsfragment </em>  </a> <br> </div>
        <div> <a href = "/formulier/programma.html"> <em> Programma </em> </a> </div>
    </div>

    <div class="col-4 bk-container"> 
        <a href="/panden/barthkapel.html"><img src="{% static 'img/paginas/bk_verhuur3.jpg' %}" alt="podiumzijde"> </a>
        <div class="font-20B TxtCenter"> E-mail</div>
        <div><a href = "mailto:stichtingbwe@gmail.com?subject=Barthkapel Verhuur&body=">  stichtingbwe@gmail.com </a>  </div>
        <div>  <a href = "/formulier/reservering.html"> <em> Aanvraagformulier </em> </a></div>
        <div class="font-9">  Reserveringen voor de Barthkapel graag via het aanvraagformulier </div>
    </div>
</div>
<!---->
{% endblock header %}
<!-----//---HEADER--->

<!-----SECTION1-------->
{% block section1 %}
<div class="row">
    <div class="col-4 bk-container">  
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4904.6590711466215!2d4.30361597616389!3d52.073730769174716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7289a466b29%3A0x2e27e5a1e2e473ea!2sBrouwersgracht%202K%2C%202512%20ER%20Den%20Haag!5e0!3m2!1snl!2snl!4v1719780287797!5m2!1snl!2snl" 
         loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="col-4 bk-container" style="margin: 5% 0 0 0;">  
        <div class="font-20B TxtCenter"> Barthkapel</div>
        <div> Brouwersgracht 2K</div>
        <div> 2512 ER Den Haag </div>   <br>
        <div class="font-9"> Kapel is bereikbaar vanaf de Brouwersgracht via de smalle steeg. </div>
        <div class="font-9">  Deze leidt u naar de kloostertuin en de kapel.</div>
    </div>

    <div class="col-4 bk-container">  
        <iframe src="https://www.google.com/maps/embed?pb=!4v1715773275253!6m8!1m7!1srRdZ4SnXUjJhk1rnW1Df2g!2m2!1d52.07367815163905!2d4.305508846694697!3f116.99734054729066!4f2.400498634234708!5f0.7820865974627469" 
        allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}
<!----// -SECTION----->