{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>




</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!--------BANNER TXT------->
{% block banner_txt %} <em>Activiteiten moeten passen binnen de culturele doelstellingen van het Cultureel Centrum Barthkapel. </em>{% endblock %}  
<!--------// BANNER TXT----->

<!--------BANNER----->
{% block banner %}
<div> <img src="{% static 'img/headers/header_bkbuiten.jpg' %}" alt="header-bkbuiten">  </div> 
{% endblock %}
<!-----//---BANNER--->




<!----------SECTION1----->
{% block section10 %}
<!---->
<div class="row">
    <div class="col-6">   
        <img class = "foto1-sbwe" src="{% static 'img/paginas/bk_piano.jpg' %}" alt="">
    </div>

    <div class="col-6">     
        <div class = "font-12 opmaak-sbwe">
            <p class="TxtCenter"> <strong> Inventaris</strong> </p>
            <ul>
                <ol>  Er zijn <em>80 stoelen </em> beschikbaar.</ol>
                <ol>  Er zijn <em>2 lange tafels</em> en <em> 2 statafels </em>beschikbaar.</ol>
                <ol>  De piano is te huur (Blüthner).  </ol>
                <ol>  Er is een ruime keuken aanwezig met inventatirs en een koelkast (inclusief vriesvak)</ol>
                <ol>  <a href="/cc/voorwaarden.html"> <em> voorwaarden & annulering </em> </a> </ol>
            </ul>
        </div>
    </div>
</div>
<!---->
<div class="row">
    <div class="col-6">     
        <div class = "font-12 opmaak-sbwe">
            <p class="TxtCenter"> <strong> Algemeen</strong> </p>
            <ul>
                <ol> Afmeting van de zaal is ongeveer <em>100 m2</em>.</ol>
                <ol> Het huren van de Barthkapel is mogelijk tot uiterlijk 23:00 uur. </ol>
                <ol> Versterkte muziek is niet toegestaan.  </ol>
                <ol> Factuur wordt achteraf per e-mail verstuurd. </ol>
                <ol>  Ruimte moet veegschoen worden achtergelaten.</ol>
                <ol>  Stoelen terug op hun vaste plek.</ol>
                <ol>  Vaatwas en keuken moeten schoon worden achtergelaten.  </ol>
                <ol>  Aanrechtblad leeg en alle spullen terug in de kast. </ol>
                <ol>  Vuilniszakken graag in de desbetreffende container op de brouwersgracht plaatsen. </ol>
                <ol> <a href = "/cc/impressieBK.html"> <em> Geluidsfragement </em>  </a> <br> </ol>
            </ul>
        </div>
    </div>

    <div class="col-6">   
        <img class = "foto1-sbwe" style="width:70%;" src="{% static 'img/paginas/bk_plattegrond.png' %}" alt="">
    </div>
</div>
<!---->
<div class="row">
    <div class="col-12">  
        <div class="TxtCenter font-20B" style="background-color:inherit"> <strong> Bezetting kapel </strong> <br> </div>
        <div class="TxtCenter font-12"> <strong> Vaste wekelijkse bezetting </strong> <br> </div>
    </div>  
</div>
<!---->
<div class="row">
    <div class="col-12">   
        <img src="{% static 'img/paginas/bk_weekschema.jpg' %}" alt="">
    </div>  
</div>
<!---->
<div class = "row">
    <table>
        <tr>
            <td><div style="background-color:#033a49;width:50px; height:20px;"></div></td>
            <td> Aanvraag mogelijk, wellicht beschikbaar</td>
        </tr>
        <tr>
            <td><div style="background-color: #c7a11b; width:50px; height:20px;"> </div></td>
            <td> Verhuurd, niet beschikbaar</td>
        </tr>
    </table>
</div>
{% endblock %}
<!-----//---SECTION----->


