{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEADER----->
{% block styles %}

<style>



</style>
{% endblock %}
<!--------HEADER----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div> <img src="{% static 'img/headers/header_bkbuiten.jpg' %}" alt="header-home"> </div> 
{% endblock %}
<!-----//---BANNER--->
<!-----HEADER-------->
{% block header %}
<!---->
<a href="/formulier/reservering.html" class="retour">&#8617; terug </a>
<!---->
<div class = "row">
    <div class="font-20B headertitel">    Verhuur Barthkapel   </div>
    <div class = "headerveld">
        Activiteiten moeten passen binnen de culturele doelstellingen van het Cultureel Centrum Barthkapel.
    </div> 
</div>
{% endblock %}
<!----// -HEADER----->
<!----------SECTION----->
{% block section2 %}
<div class="row">
    <div class="col-12 an-container"> 
        <strong> SBWE verhuurt onder een aantal voorwaarden: </strong>
        <ul>
            <li>  Het huren van de Barthkapel is mogelijk tot uiterlijk 23:00 uur.</li>
            <li>  Versterkte muziek is niet toegestaan.</li>
            <li>  15 minuten voor aanvangstijd is de ruimte beschikbaar.</li>
            <li>  De zaal dient na gebruik opgeruimd te zijn en netjes te zijn achtergelaten: 
                <ul>
                    <li>  Ruimtes moeten veegschoon worden achtergelaten.             </li>
                    <li>  Stoelen terug op hun vaste plek.            </li>
                    <li>  Vaatwerk en keuken moeten schoon worden achtergelaten.          </li>
                    <li>  Aanrechtblad leeg en alle spullen terug in de kast.         </li>
                    <li>  Vuilniszakken graag in de desbetreffende containers op de brouwersgracht plaatsen.       </li>
                </ul>  
            </li> 
            <li>  Roken is niet toegestaan.    </li>
            <li>  Bij schade of het aantreffen van een niet opgeruimde/nette ruimte wordt er verwacht dat u dit bij constatering meldt.</li>
            <li>  Houdt de nooduitgangen/vluchtroutes vrij voor doorgang.  </li>
            <li>  De ruimte en de voordeur goed afsluiten:
                <ul>
                    <li>SBWE is niet aansprakelijk voor diefstal of verlies van goederen. </li>
                </ul> </li>
        </ul>
    </div>
</div>
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION2----->
{% block section3 %}
<!---->
<div class="row">
    <div class="col-12 an-container"> 
        <strong>Annuleringsvoorwaarden: </strong>
        <ul>   
            <li>  Annuleren tot 7 dagen voor de reservering of eerste verhuurdag: 
                <ul>
                    <li> Kosteloos</li>
                </ul>
            </li>
            <li>  Annuleren vanaf 7 dagen tot en met 3 dagen voor de reservering of eerste verhuurdag:
                <ul>
                    <li>De helft van het verhuurbedrag.</li>
                </ul>
             </li>
            <li>  Annuleren op de 2e of 1e dag voor de reservering of op de dag zelf:
                <ul>
                    <li>Het volledige verhuurbedrag.</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION3----->
{% block section4 %}

<div class="row">
    <div class="col-12 TxtCenter font-10"> <em> Stichting Behoud Waardevol Erfgoed is niet aansprakelijk voor diefstal of schade aan eigendommen van huurders of bezoekers. </em> </div>
</div>

{% endblock %}
<!-----//---SECTION----->





<!-----SECTION---WEG?!----->
{% block section30 %}
<div class = "row" style = "background-color:inherit;">

    <div class = "col-6"> 
        <a href="" TARGET = "_blank">
            <img style = "width:25%; float:left; margin: 0 0 -10% 0" src="{% static 'img/paginas/reservering.jpg' %}" alt="in constructie">
        </a> 
    </div>

    <div class = "col-6"> 
     <strong> </strong>
     <button class = "clip-rhom">
        <a href ="{% url 'Reservering' %}"> Reserveren </a> </button>
    </div>
 </div>
{% endblock %}
<!----// -SECTION----->