{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>

</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->


<!--------BANNER----->
{% block banner %}
<div> <img src="{% static 'img/headers/header_bkbuiten.jpg' %}" alt="header-home"></div> 
{% endblock %}
<!-----//---BANNER--->

<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Stichting Behoud Waardevol Erfgoed </div>
    <div class = "headerveld">
        SBWE waarborgt de oorspronkelijke stedelijke bebouwing in Den Haag en 
        stimuleert de diversiteit van het gebruik van die bebouwing.
    </div> 
</div>
{% endblock %}
<!----// -HEADER----->
<!-----SECTION1-------->
{% block section1 %}
<div class = "row">

    <div class = "col-6 boxli"> 
        <img src="{% static 'img/paginas/reservering.jpg' %}" alt="in constructie">
    </div>

    <div class = "col-6 box"> 
        <div class = "box-titel"> Barthkapel reserveren </div>
        <div class = "box-tekst">    
        Bent u op zoek naar een inspirerende ruimte voor een activiteit of evenement? 
        De Barthkapel is centraal gelegen en toch ervaart u hier een oase aan rust doordat de kapel is 
        omgeven door een openbaar toegankelijke kloostertuin.
        </div>
        <button class = "clip-rhom" id="btn-reservering" >
        <a href ="{% url 'Reservering' %}"> Reserveren </a> </button>
    </div>
 </div>
{% endblock %}
<!----// -SECTION----->
<!----------SECTION----->
{% block section2 %}
<div class = "row">
    <div class = "col-6 box"> 
        <div class = "box-titel"> Programma van de Barthkapel </div>
        <div class = "box-tekst">  
        Zang, muziek, dans, yoga, theater, kunst, vergaderingen, workshops en kerkdiensten. 
        De Barthkapel wordt voor verschillende doeleinden verhuurd. Wilt u meer weten over komende evenementen in de Barthkapel?
        </div>
        <button class = "clip-circle" id="btn-programma" >
        <a href="/formulier/programma.html"> Programma </a> </button>
    </div>
    <div class = "col-6 boxre"> 
        <img src="{% static 'img/paginas/programma.jpg' %}" alt="in constructie"> 
    </div>
 </div>
{% endblock %}
<!-----// SECTION----->
<!-----SECTION-------->
{% block section3 %}
<div class = "row">
    <div class = "col-6 boxli"> 
        <img src="{% static 'img/paginas/homepand.jpg' %}" alt="in constructie">
    </div>
    <div class = "col-6 box"> 
        <div class = "box-titel"> Panden</div>
        <div class = "box-tekst">  
        In de jaren negentig redt SBWE meerdere panden van de sloop. 
        Enkele daarvan zijn nog steeds in beheer van de stichting zoals de 
        pakhuizen in de Looijerstraat en de Rembrandtstraat.
        </div>
        <button class = "clip-drie" id="btn-kunstenaars">
        <a href="{% url 'Panden' %}">  <br>Panden </a> </button>
    </div>
 </div>
{% endblock %}
<!----// -SECTION----->
<!-----SECTION-------->
{% block section4 %}
<div class = "row">
   <div class = "col-6 box"> 
        <div class = "box-titel"> Huurders</div>
        <div class = "box-tekst">  
        Naast enkele woningen, muziek- en kantoorruimtes hebben de panden van SBWE voornamelijk een atelierbestemming. 
        De huurders en SBWE hebben de panden in de loop der jaren een karakteristieke invulling en uitstraling gegeven. 
        </div>
        <button class = "clip-penta" id="btn-kunstenaars">
        <a href="{% url 'Atelier1' %}"> Ateliers</a> </button>
    </div>

    <div class = "col-6 boxre"> 
        <img src="{% static 'img/paginas/huurders.jpg' %}" alt="in constructie">
    </div>
 </div>
{% endblock %}
<!----// -SECTION----->
<!-----SECTION-------->
{% block section5 %}
<div class = "row">
    <div class = "col-6 boxli"> 
        <img src="{% static 'img/paginas/home.jpg' %}" alt="in constructie">
    </div>
   <div class = "col-6 box"> 
        <div class = "box-titel"> Atelierruimte in Den Haag</div>
        <div class = "box-tekst">  
        Bent u op zoek naar een inspirerende werkplek in één van onze karakteristieke panden?
        <br><br>
        Schrijf u in op onze wachtlijst.
        </div>
        <button class = "clip-rechthoek" id="btn-wachtlijst">
        <a href="{% url 'Wachtlijst' %}"> Schrijf je in </a> </button>
    </div>
</div>
{% endblock %}
<!----// -SECTION----->


<!----------SECTION5----->
{% block section6 %}
{% endblock %}
<!-----// SECTION----->


<!-----FOOTER-------->
{% block footer %}
{% endblock %}
<!----// -FOOTER----->
<!-----SCRIPTS-------->
{% block footer_scripts %}
<!------- buttons----------->
<script src="{% static 'js/eigenontwerp/buttons.js' %}"></script>
{% endblock %}
<!-----// SCRIPTS----->
