<!-------------------------------------HEAD----->
{% block styles %}{% endblock %}

{% block scripts %}{% endblock %}

{% block head %}{% endblock %}

{% block head_extras %}{% endblock %}
<!-------------------------------------BODY----->

<!----------SECTION0----->
{% block section0 %}{% endblock %}
<!-----//---SECTION----->

<!----------BANNER----->
{% block banner %}{% endblock %}
<!-----//---BANNER----->
{% block banner_txt %}{% endblock %}

{% block menu %}

<!----------HEADER----->
{% block header %}{% endblock header %}
<!-----//---HEADER----->

<!----------SECTION1----->
{% block section1 %}{% endblock %}
<!-----//---SECTION----->

<!----------SECTION2----->
{% block section2 %}{% endblock %}
<!-----//---SECTION----->
                            <!----------SECTION10----->
                            <!--leeg format-->
                            {% block section10 %}{% endblock %}
                            <!-----//---SECTION----->   

                            <!----------SECTION10----->
                            <!--leeg format-->
                            {% block section11 %}{% endblock %}
                            <!-----//---SECTION----->   
<!-----SCRIPTS-------->
{% block footer_scripts %}{% endblock %}
<!-----// SCRIPTS----->

{% block footer %}{% endblock footer %}



