{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>
.contact-opmk{line-height: 2.0;padding:0 2% 0 2%;}
</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
       
<!--------BANNER----->
{% block banner %}
<div> <img src="{% static 'img/headers/header_bkbuiten.jpg' %}" alt="header-bkbuiten"></div> 
{% endblock %}
<!-----//---BANNER--->

<!----------SECTION----->
{% block section1 %}
<div class="row contact-opmk" >
        <div class="col-4">  
                <div class="font-20B TxtCenter"> Adres</div>
                <div class="font-10 TxtCenter">  Brouwersgracht 2K </div>
                <div class="font-10 TxtCenter">  2512 ER Den Haag </div>
        </div>
    
        <div class="col-4">  
                <div class="font-20B TxtCenter"> Email</div>
                <div class = "font-10 TxtCenter"> 
                        <a href = "mailto:stichtingbwe@gmail.com">  stichtingbwe@gmail.com </a> 
                </div>
        </div>
    
        <div class="col-4 opmaak">  
                <div class="font-20B TxtCenter"> Telefoon</div>
                <div class="font-10 TxtCenter">  06 14 18 70 96 </div>
        </div>
    </div>
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION----->
{% block section11 %}
<div style="height: 100px;"> <br></div>
{% endblock %}
<!-----//---SECTION----->