{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>




</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->
<!--------BANNER TXT------->
{% block banner_txt %} <em>Het verhaal achter Stichting Behoud Waardevol Erfgoed</em>{% endblock %}  
<!--------// BANNER TXT----->

<!--------BANNER----->
{% block banner %}
<div> <img src="{% static 'img/headers/header_bkbuiten.jpg' %}" alt="header-bkbuiten">  </div> 
{% endblock %}
<!-----//---BANNER--->
<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Oprichting</div>
    <div class = "headerveld">
        Begin jaren negentig was een aantal betrokken buurtbewoners bezorgd over het verdwijnen van oude karakteristieke panden in het oude centrum van Den Haag. 
        
    </div> 
</div>
{% endblock %}
<!----// -HEADER----->


<!----------SECTION1----->
{% block section1 %}
<div class="row">
    <div class="col-6 opmaak-sbwe">   
        <img src="{% static 'img/paginas/simon.jpg' %}" alt="fotosimon">
    </div>

    <div class="col-6">     
        <div class = "opmaak-sbwe">
        <p class="TxtCenter"> <strong>Simon Kamper </strong> </p>
        Een van hen was Simon Kamper, actief in het buurtoverleg en de krakersbeweging. <br> 
        Hij richtte op 18 juni 1992 Stichting Behoud Ongeregeld Goed op, een aantal 
        maanden later, op 30 oktober 1992, werd de naam, op aanraden van de toenmalige wethouder Peter Noordanus, veranderd in Stichting Behoud Waardevol Erfgoed. 
        </div>
    </div>
</div>
{% endblock %}
<!-----//---SECTION----->

<!----------SECTION2----->
{% block section2 %}
<div class="row">
    <div class="col-6">
        <div class = "opmaak-sbwe">
            <p class="TxtCenter"> <strong>Team </strong> </p>
            SBWE kent een platte organisatiestructuur. Het bestuur bestaat uit vier leden waarvan drie ook uitvoerende werkzaamheden verrichten, zoals onderhoud, 
            beheer en financiën. 
        </div>
    </div>
    <div class = "col-6">
        <div class = "opmaak-sbwe">
            <p class="TxtCenter"> <strong> Doelstelling </strong> </p>
            De doelstelling van de stichting is het instandhouden en waarborgen van de oorspronkelijke stedelijke bebouwing te Den Haag en het stimuleren 
            van de diversiteit van het gebruik van die stedelijke bebouwing. De stichting probeert haar doel onder meer te realiseren door het verwerven, 
            verbeteren en beheren van erfgoed in de binnenstad.
        </div>
    </div>
</div>

{% endblock %}
<!-----//---SECTION----->

