{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEADER----->
{% block styles %}
<style>




</style>
{% endblock %}
<!--------HEADER----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div>   <img src="{% static 'img/headers/header_bkverhuur.jpg'  %}" alt="header_bkverhuur"> </div> 
{% endblock %}
<!-----//---BANNER--->
<!-----HEADER-------->
{% block header %}
<div class = "row">
    <div class="font-20B headertitel"> Kunstenaars</div>
    <div class = "headerveld">
    Naast enkele muziekruimtes, woningen en kantoorruimtes hebben de panden van SBWE voornamelijk een ateliers bestemming. 
    Huurders gebruiken de ateliers voor verschillende doeleinden, maar even belangrijk: ze hebben 
    de panden in de loop der jaren een karakteristieke uitstraling gegeven. Voorbeelden van huurders die een 
    samenwerking met SBWE zijn aangegaan en in de panden werken:

    </div> 
</div>
{% endblock %}
<!----// -HEADER----->


<!----------SECTION1----->
{% block section1 %}
<!------>
{% for atel in atel_list %}
<div class="row">
    <div class="col-6 prog-container">   
        <img src="{{ atel.afbeelding.url }}" alt="in constructie">
    </div>
    <div class="col-6 prog-container"> 
        <div class = "prog"> 
            <div class = "color1 font-20B"> <a href=" {{ atel.website }}" TARGET = "_blank"> {{ atel.titel }}  </a> </div>
            <div class = "font-10" style="padding: 5% 5% 5% 5%;">  {{ atel.tekst }}  </div>
        </div> 
    </div>
</div>
{% empty %}
    <hr>
    <div class="font-20B">Geen publicatie van onze kunstenaars</div>
{% endfor %}
<!------> 
{% endblock %}
<!-----//---SECTION----->