{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEADER----->
{% block styles %}
<style>


</style>
{% endblock %}
<!--------HEADER----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!--------BANNER----->
{% block banner %}
<div>   <img src="{% static 'img/headers/header_bkverhuur.jpg'  %}" alt="header_bkverhuur"> </div> 
{% endblock %}
<!-----//---BANNER--->
<!----------HEADER----->
{% block header %}
<div class="row">
    <div class="col-12"> 
        <div class ="font-20B TxtCenter"> Barthkapel programma</div>
    </div>
</div>
{% endblock header %}
<!-----//---HEADER----->

<!----------SECTION1----->
{% block section1 %}
<!------>
{% for prog in prog_list %}
<div class="row">
    <div class="col-6 prog-container">   
        <a href="{% url 'Prog-Detail' prog.pk %}" TARGET = "_blank">
            <img src="{{ prog.image.url }}" alt="{{ prog.image_name }}">
        </a> 
    </div>
    <div class="col-6 prog-container"> 
        <div class = "prog"> 
            <div class = "prog-titel"> <a href=" {{ prog.website }}" TARGET = "_blank"> {{ prog.titel }}  </a> </div>
            <div class = "prog-datum">  {{ prog.datum }}  </div>
            <div class = "prog-tijd">  {{ prog.start }} -  {{ prog.eind }}   </div>
        </div> 
    </div>
</div>
{% empty %}
    <hr>
    <div class="prog-opmaak-geen, font-18">Programma nog niet bekend voor publiek</div>
{% endfor %}
<!------> 
{% endblock %}
<!-----//---SECTION----->