{% extends 'algemeen/basis.html' %}
{% load static %}
<!--------HEAD----->
{% block styles %}
<style>


</style>
{% endblock %}
<!--------HEAD----->
<!---------------------------------------BODY------------------------------------------------------------------------------------------->

<!----------HEADER----->
{% block header %}
<div class = "row">
    <div class = "headerveld">
        <p class = "TxtCenter"> <strong> Inschrijfformulier </strong> </p>
        U zoekt een werkplaats in het oude centrum van Den Haag. 
        Stichting Behoud Waardevol Erfgoed verhuurt ateliers vanaf 250,- per maand. 
        Vul dit aanvraagformulier in zodat we u eventueel kunnen benaderen als er een ruimte in één van onze panden vrijkomt.
    </div>
</div>
{% endblock header %}
<!-----//---HEADER----->



<!-----SECTION1-------->
{% block section1 %}
{% if submitted %}
   <div class = "TxtCenter"><br> <br> Bedankt voor de inschrijving.<br><br>
    We zetten uw gegevens op onze wachtlijst.<br><br><br>
    Met vriendelijke groet, <br>
    Team SBWE <br><br>
{% else %}  
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
<!----> 
<div class ="row">
    <div class = "col-4 form">Voornaam: </div>
    <div class = "col-4 form_box">{{ wlijst_form.voornaam }} </div>
</div>
<!----> 
<div class ="row">
    <div class = "col-4 form">Achternaam: </div>
    <div class = "col-4 form_box">{{ wlijst_form.achternaam }} </div>

</div>
<!----> 
<div class ="row">
    <div class = "col-4 form">Email: </div>
    <div class = "col-4 form_box">{{ wlijst_form.email }} </div>
</div>
<!----> 
<div class ="row">
    <div class = "col-4 form">Telefoonnummer: </div>
    <div class = "col-4 form_box">{{ wlijst_form.telefoon }} </div>
</div>
<!----> 
<div class ="row">
    <div class = "col-4 form">Bedrijfsnaam: </div>
    <div class = "col-4 form_box">{{ wlijst_form.bedrijfsnaam }} </div>
</div>
<!----> 
<div class ="row">
    <div class = "col-4 form">Kvk nummer: </div>
    <div class = "col-4 form_box">{{ wlijst_form.kvk }} </div>
</div>
<!---->
<div class ="row">
    <div class = "col-4 form"> Wat voor werkt maakt u? </div>
    <div class = "col-4 form_box">{{ wlijst_form.werk }} </div>
</div> 
<!---->
<div class ="row">
    <div class = "col-4 form2"> Hoeveel m2 aan gebruiksoppervlakte heeft u minimaal nodig? </div>
    <div class = "col-4 form_box">{{ wlijst_form.vierkantem }} </div>
</div> 
<!---->

<!---->
<div class ="row">
    <div class = "col-4 form2"> Welke voorzieningen heeft uw atelier nodig? </div>
    <div class = "col-4 form_box"> {{ wlijst_form.voorziening }} </div>
</div> 
<!---->
<div class ="row">
    <div class = "col-4 form2"> Wilt u een atelier zelfstandig huren of bent u bereidt deze te delen?</div>
    <div class = "col-4 form_box">{{ wlijst_form.delen }} </div>
</div> 
<!---->
<div class ="row">
    <div class = "col-4 form2"> Per wanneer zoekt u een ruimte? </div>
    <div class = "col-4 form_box">{{ wlijst_form.startdatum }} </div>
</div> 
<!---->
<div class ="row">
    <div class = "col-4 form2"> Kun u ons een indruk geven van uw recente (kunst)projecten, denk aan Instagram, website, Facebook en of een CV. </div>
    <div class = "col-4 form_box">{{ wlijst_form.website }} </div>
</div> 
<!---->
<div class ="row">
    <div class = "col-6 form2">{{ wlijst_form.akkoord }} Hierbij verklaar ik bekend te zijn met de algemene voorwaarden van Stichting Behouw Waardevol Erfgoed
        <a style ="color: #A87544" href="" >"Private statement" </a>
        en ga ik akkoord.  </div>
</div> 
<!---->
<div class ="row">
    <input type ="submit" class = "button_formulier" value = "Submit">  
</div> 
<!---->

</form>
{% endif %}

{% endblock %}
<!----// -SECTION----->


